html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 20px;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 900px;
}

header{
  background-color: #07569A;
  display: flex;
  justify-content: space-between;
  padding-left: 121px;
  color: white;
  height: 66px;
  flex: 0 0 auto;
}

.logo-img{
  width: 130px;
  height: 46px;
}

.logo-container{
  border-left: 1px rgba(255, 255, 255, 1) solid;
  border-right: 1px rgba(255, 255, 255, 1) solid;
  padding: 0 51px;
  display: flex;
  align-items: center;
}

.cart-img{
  width: 33.85px;
  height: 33.34px;
}

.cart{
  border-left: 1px rgba(255, 255, 255, 1) solid;
  padding: 0px 120px 0 20px;
  display: flex;
  align-items: center;
}

.cart-info{
  margin-left: 12.5px;
}

.second {
  font-size: 14px;
}

.first{
  font-weight: 700;
  font-size: 20px;
}

main{
  flex: 1 0 auto;
  margin-left: 121px;
  margin-right: 184px;
  display: flex;
  border-bottom: 1px rgba(212, 212, 212, 1) solid;
}

.content{
  padding: 20px 0px 40px 30px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-bottom: 20px;
}

.menu li a:hover {
  text-decoration: underline;
}

.menu{
  background-color: #E5E4E5;
  height: 100%;
  width: 234px;
  flex-shrink: 0;
  padding: 20px 20px 0;
  box-sizing: border-box;
}
.navigation{
  font-size: 14px;
  font-weight: normal;
}

.navigation .first-nav
{
  color:#3072C4;
}

.navigation a:hover{
  text-decoration: underline;
  color:#3072C4;
}

.navigation a:not(:last-child)::after {
  content: "›";
  margin: 0 7px;
}

.goods-list{
  display: flex;
  flex-wrap: wrap;
}

.goods{
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goods-vendor{
  font-size: 16px;
  color: #A0A0A0;
}

.cart-img-btn {
  height: 15px;
  width: 15.7px;
}

footer{
  flex: 0 0 auto;
  padding: 15px 0;
  margin-left: 121px;
}


